<%- include("partials/header")-%>

<p>The weather is <%=weatherDescription%> today.</p>
<h1>The temperature in <%=query%>  is <%=weatherTemp%> degree celsius.</h1>
<img src="<%=imageURL%>" alt="img">

<%- include ("partials/footer")-%>
